certifi==2017.11.5
elasticsearch==5.5.1
elasticsearch-dsl==5.3.0
grimoirelab-toolkit==0.1.8
grimoire-elk==0.30.13
numpy==1.12.1
pandas==0.19.2
python-dateutil==2.6.0
pytz==2016.10
scipy==0.19.0
six==1.10.0
sortinghat==0.4.3
urllib3==1.21.1
